<template name="masterLayout">
{{#if Template.subscriptionsReady}}
    {{#momentum plugin="flow-router"}}
        {{> Template.dynamic template=header}}
        {{> Template.dynamic template=main}}
        {{> Template.dynamic template=footer}}

        <!--{{#if Template.subscriptionsReady}}-->
            <!--<div class="nav">-->
                <!--{{> Template.dynamic template=header}}-->
            <!--</div>-->

            <!--<div class="content">-->
                <!--{{> Template.dynamic template=main}}-->
            <!--</div>-->

            <!--<footer>-->
                <!--{{> Template.dynamic template=footer}}-->
            <!--</footer>-->
        <!--{{else}}-->
            <!--{{> loading}}-->
        <!--{{/if}}-->
    {{/momentum}}
{{else}}
    {{> loading}}
{{/if}}
</template>
