<template name="home">
    <!--{{> carousel}}-->

    <h1>The <strong class="light-green-text">Carbon Neutrality</strong> Challenge</h1>

    <div class="row">
        <div class="parallax-container"><div class="parallax"><img src="parallax/background1.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
    </div>
    <div class="row home-content">
        {{>landingPage}}
    </div>

    <div class="row">
        <div class="parallax-container"><div class="parallax"><img src="parallax/background2.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
    </div>

    <div class="row padding-7">
        <div id="disqus_thread"></div>
    </div>
</template>