#testing {

  padding: 20px;
  bottom: 160px;
  background-color: white;
  z-index: 1;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: 300;
}