<template name="landingPage">
    <div class="row" style="height:16px">
        <div><h2 id="testing" class="z-depth-5">Climate Change Today</h2></div>
    </div>
    <div class="row" style="max-height:480px">
        <!--<div class="col s12 m12 l3 push-l9 z-depth-1 sign-in-form">-->
        <!--{{> atForm}}-->
        <!--</div>-->
        <div class="col s12" style="max-height:480px">
            <div class="video-container"  style="max-height:480px">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/S7jpMG5DS4Q" frameborder="0"
                        allowfullscreen style="max-height:480px"></iframe>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="row">
        <div class="row">
            <div class="col s12">
                <div class="card-panel z-depth-1 no-padding">
                    <div class="row">
                        <div class="col s12 m12 l4 no-padding">
                            <!--<img src="/home/biodiversity_patterns.jpg" alt="" class="responsive-img">-->
                            <div class="parallax-container" style="height:300px"><div class="parallax"><img src="/home/biodiversity_patterns.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
                            <!-- notice the "circle" class -->
                        </div>
                        <span class="col s12 m12 l8">
                            <h4>Biodiversity Patterns and Processes</h4>
                            <p>
                                Describing and explaining biodiversity patterns are longstanding goals in ecology. Interest in these
                                topics has gained momentum due to escalating anthropogenic impacts, and the need to prioritize
                                limited conservation resources on key areas and hotspots of extinction-prone species. This line of
                                research uses meta-analytical approaches to describe patterns and test the causality of potential
                                hypotheses. We use a combination of spatial statistics, Geographical Information Systems (GIS) and
                                modeling techniques to construct accurate patterns and develop rigorous tests of mechanistic
                                hypotheses. Ultimately, we seek to provide a global unified pattern of marine and terrestrial
                                biodiversity.
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m8">
                <h4>Biodiversity Threats</h4>
                <p class="padding">
                    Many marine and terrestrial species are threatened with extinction due to human related threats such
                    as overexploitation, habitat loss and climate change. Unfortunately, there is significant
                    uncertainty over the actual causality of these threats, which in turn has generated controversy and
                    possibly hampered the development of mitigation policies. This part of our research uses field
                    studies and experimental approaches to evaluate the effects and mechanisms through which
                    human-related threats lead to population declines and threaten species with extinction.
                </p>
            </div>
            <div class="col s12 m4">
                <div class="z-depth-5 no-padding">
                    <div class="parallax-container" style="height:300px"><div class="parallax"><img src="/home/biodiversity_threats.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel z-depth-1 no-padding">
                    <div class="row">
                        <div class="col s12 m12 l4 no-padding">
                            <!--<img src="/home/biodiversity_patterns.jpg" alt="" class="responsive-img">-->
                            <div class="parallax-container" style="height:300px"><div class="parallax"><img src="/home/conservation.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
                            <!-- notice the "circle" class -->
                        </div>
                        <span class="col s12 m12 l8">
                            <h4>Assessment of Conservation Strategies</h4>
                            <p>
                                The implementation of conservation strategies should be preceded by rigorous science if such
                                strategies are to be effective. Unfortunately, such basic science is being developed at the same
                                time that biodiversity is being lost. This has prompted the creation of regulations with weak
                                underlying scientific support or without assessments of feasibility under different socioeconomic
                                conditions; hence, the success of such regulations is an open question. This research line aims to
                                evaluate the effectiveness of management and conservation strategies that are in place for the
                                protection of biodiversity. We use meta-analytical approaches and scientific surveys to evaluate the
                                effectiveness of existing strategies in terms of compliance, enforcement and biological response.
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m8">
                <h4>Social-Ecological Systems</h4>
                <p class="padding">
                    Ultimately, achieving a world that is sustainable depends on understanding the interlinks between
                    ecosystems and attributes of human societies. Unfortunately, social systems are just as complex as
                    ecosystems and they both require different endeavors of research that remains for the most part
                    isolated. This research line aims to bring together expertise on social, economic, political and
                    ecological systems to understand the mechanistic pathways between attributes of human societies,
                    biodiversity stressors, biodiversity loss and human welfare.
                </p>
            </div>
            <div class="col s12 m4">
                <div class="z-depth-5 no-padding">
                    <div class="parallax-container" style="height:300px"><div class="parallax"><img src="/home/social_ecological_systems.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>

                </div>
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="at-signup-link col s4 m2 l2 offset-s4 offset-m5 offset-l5">
            <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup btn {{disabled}}">{{linkText}}</a>
        </div>

    </div>

</template>