<template name="header">
    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/Team.html">Team</a></li>
            <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/Publications.html">Publications</a>
            </li>
            <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/Courses.html">Courses</a>
            </li>
            <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/PressRoom.html">Press</a>
            </li>
        </ul>
        <nav class="white" role="navigation">
            <div class="nav-wrapper padding-left-5">
                <a href="/" class="brand-logo waves-effect waves-ripple waves-green black-text">Mora<strong class="blue-text">Lab</strong></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/">MoraLab Homepage</a></li>
                    <li><a class="black-text font-weight-300" href="http://www.soc.hawaii.edu/mora/del.html">CO2 Neutrality</a></li>
                    <!--{{#if currentUser}}-->
                        <!--<li id="log-out-button">{{> atNavButton}}</li>-->
                    <!--{{else}}-->
                        <!--<li id="sign-in-button">{{> atNavButton}}</li>-->
                    <!--{{/if}}-->
                    <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">More<i
                            class="material-icons right black-text">arrow_drop_down</i></a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <div class="card" id="sidebar-card">
                        <div class="card-image">
                            <!--<img src="/images/transportation/rail1.jpg">-->
                            <span class="card-title"><h3>Side Nav</h3></span>
                        </div>
                    </div>
                    <li><a href="http://www.soc.hawaii.edu/mora/">MoraLab Homepage</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Team.html">Team</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Publications.html">Publications</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Courses.html">Courses</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/PressRoom.html">Press</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Carbon%20Neutrality%20Project">CO2 Neutrality</a></li>

                    <!--{{#if currentUser}}-->
                        <!--<li id="log-out-button">{{> atNavButton}}</li>-->
                    <!--{{else}}-->
                        <!--<li id="sign-in-button">{{> atNavButton}}</li>-->
                    <!--{{/if}}-->
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile" id="sidebar-button-collapse">
                    <!--<i class="mdi-navigation-menu black-text"></i>-->
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</template>