<template name="emissions">
    {{#if Template.subscriptionsReady}}
        <div class="row">
            <div class="col s12 center">
                <br>
                <br>
                <h2>Calculate Your <strong class="materialize-red-text text-lighten-1" style="">Emissions</strong></h2>
                <br>
                <br>
            </div>
        </div>
        {{> emissionsNav}}

        <div class="divider"></div>

        <div class="row">
            <div class="card-panel theme-color-1">
                {{> transportation}}
                {{> housing}}
                {{> food}}
                {{> recycling}}
            </div>
        </div>
    {{else}}
        {{>loading}}
    {{/if}}

</template>
