<template name="footer">
    <footer class="page-footer">
        <div class="padding">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Mora<strong class="light-blue-text">Lab</strong></h5>
                    <div class="white-text">The Carbon Neutrality Project is an initiative by the members of the MoraLab which aims to generate a mechanism for everyday people to pay their ecological debt with our mother planet, Earth. The premise of this project is to: first calculate how much CO<sub>2</sub> you generate, then estimate the number of trees necessary to sequester those emissions, and finally plant that number of trees. Simple right!</div>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">About Us</h5>
                    <ul>
                        <!--<li><a class="white-text" href="{{pathFor "technology"}}">Technology</a></li>-->
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Styled with <a class="" href="http://materializecss.com" style="color:white">Materialize<strong>CSS</strong></a> and Powered by <a href="https://www.meteor.com/" style="color:white">Meteor</a>.
            </div>
        </div>
    </footer>
</template>