/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.font-weight-300 {
  font-weight: 300;
}

.padding-left-5 {
  padding-left: 5%;
}

.padding-7 {
  padding-left: 7%;
  padding-right: 7%;
}

.no-adding {
  padding:0;
}
